#recent-posts-wrapper {
  height: 100%;
  margin-left: 10px;
}

#recent-posts-header {
  font-family: 'Lobster', cursive;
  height: 20%;
  margin-bottom: 0px;
  line-height: 1.4;
  font-weight: bold;
  color: #e4fde1;
  font-size: 4rem;
  margin-left: 10px;
}
#recent-posts-body {
  background: #e4fde1;
  height: 80%;
  margin-top: 0px;
  border-radius: 5px;
}
