.carousel {
  width: 100%;
  padding-right: 0px;
}

.carousel-img {
  border-radius: 5px;
}

#carousel-header {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  line-height: 0.75;
  color: #85a4a4;
}

#carousel-wrapper {
  margin-left: 15px;
  margin-top: 15px;
}
