@import 'config';

.carousel {
  width: 100%;
  padding-right: 0px;
}

.carousel-img {
  border-radius: 5px;
}

#carousel-header {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  line-height: 0.75;
  color: $color-2;
}
