@import 'config';

#recent-posts-wrapper {
  height: 100%;
  margin-left: 15px;
}

#recent-posts-header {
  font-family: 'Lobster', cursive;
  margin-bottom: 0px;
  line-height: 0.75;
  font-weight: bold;
  color: $color-4;
  font-size: 4rem;
  margin-left: 10px;
}
#recent-posts-body {
  background: $color-4;
  height: 250px;
  margin-top: 0px;
  border-radius: 5px;
}
