#shop-display-wrapper {
  width: 100%;
  margin-top: 20px;
}

#shop-display-header-text {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: $color-1;
  line-height: 0.75;
}

#shop-display-body {
  height: 700px;
  background: $color-1;
  width: 100%;
  border-radius: 5px;
}
