@import 'config';

#sidenav-wrapper {
  bottom: 0px;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 65px;
  height: 100vh;
  background: $color-5;
}

#sidenav-logo-wrapper {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 90px;
}

#sidenav-links-wrapper {
  display: block;
  font-size: 1.5rem;
  text-align: center;
}

.nav-icon {
  width: 100%;
  margin-top: 50px;
  color: #adadad;
  transition: all 0.25s ease-out;
}

.nav-icon:hover {
  color: $highlight;
}

#hide-nav-button {
  color: white;
  position: absolute;
  bottom: 20px;
  font-size: 2rem;
  align-items: center;
  width: 100%;
  transition: all 0.25s ease-out;
}

#hide-nav-button:hover {
  color: $highlight;
  cursor: pointer;
}
